/* Include padding and border in element's total size */
* {
    box-sizing: border-box;
}    

body { 
    /* Remove body margin */
    margin: 0;
    /* Set background to cover and stay fixed */
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      /* White text and standard font */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424; 
}